html, body {
    height: 100%;
    background-color: rgb(236, 236, 236);
}

.container {
    margin-left: auto!important;
    padding: 0!important;
    width: inherit!important;
    /*display: block;*/
}