.truth-table-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: black 0 2px 5px;
}

.truth-table {
}

.generating-unit-main {
    background: rgb(255, 255, 255);
    background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 1) 0%,
        rgb(216, 216, 216) 100%
    );
    height: fit-content;
    padding: 1rem;
    border-style: solid;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 1 100%;

    box-shadow: 0 0 5px black;
}
